*{
    box-sizing: border-box;
}
h1{
    /*font-size: 50px;*/
    
}
h2{
    /*font-size: 50px;*/
    background: lightblue;
}
div{
    /*font-size:*/
    background-color: darkgrey;
    display:inline-block;
    padding-right:  20px;
    border: greenyellow dotted 5px;
    margin-right: 15px;
}
